<nav>Already signed up? <a href="/signin" class="button_link"><span class="sign_in">sign in</span></a></nav>
<div class="fullscreen background" style="background-image:url('https://s3-us-west-1.amazonaws.com/hortus-expositus/gardens/photos/static/landing_page.jpg');" data-img-width="1280" data-img-height="960">
  <div class="content-a">
    <div class="content-b">
      <h1>Start Gardening Today.</h1>
			<a href="/users/sign_up" class="button_link"><div class="button">sign up</div></a>
  	</div>
  </div>
</div>