<h1>Thin Fruits</h1>

<p>Deciduous fruits trees such as peaches, apricots, plums and cherries that have flowered and set fruit need to have some of those fruits removed or thinned. Many fruits trees will set more fruits than they can mature. By thinning some fruits now, you'll get larger and tastier mature fruits later. Thin these fruits to about 4 to 6 inches apart on the branch as soon as the fruits are as large as a quarter.<p>