html, body {
	height: 100%;
	max-width: 100%;
}
body {
	background-color: #CCD6A7;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	line-height: 1.25em;
}
nav {
	padding: 5px;
	padding-right: 20px;
	background-color: black;
	color: white;
	font-size: .75em;
	text-align: right;
}
.sign_in {
	padding: 2px;
	background-color: #E8E6C8;
	border-right: 2px solid #743A2F;
	border-bottom: 2px solid #743A2F;
	border-radius: 5px;
	color: black;
	font-size: 1em;
}
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50% !important;
}
.fullscreen, .content-a {
    width:100%;
    height:100%;
}
/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}
h1 {
	font-size: 4em;
	font-weight: bold;
	line-height: .8em;
	margin: 0 auto;
	color: white;
}
.button_link {
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-size: .75em;
}
.button {
	background-color: #BF9461;
	border-top: none;
	border-left: none;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: normal;
	width: 33%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-appearance:none;
}
.link {
	text-decoration: none;
	color: inherit;
}
h2 {
	font-size: 3em;
	margin: 20px;
	font-weight: normal;
}
h3 {
	background-color: white;
	display: inline;
	font-size: 2.5em;
	font-weight: normal;
	margin: 5px;
	line-height: .5em;
}
p {
	margin: 20px;
	margin-left: 50px;
	background-color: white;
	display: block;
	font-weight: bold;
	max-width: 90%;
}
input#user_name, 
input#user_email, 
input#user_password, 
input#user_password_confirmation,
input#garden_address,
input#garden_city,
input#garden_short_description,
textarea#garden_description,
textarea#garden_rules {
	border: 1px solid white;
	margin: 10px;
	padding: 10px;
	width: 50%;
	-webkit-appearance:none;
}
.garden_image {
	border-radius: 10px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	padding: 0;
	margin: 20px 0 20px 0;
	max-width: 90%;
}
.show {
	display: inline-block;
	vertical-align: top;
}
img.map {
	margin: 20px 0 20px 0;
	max-width: 90%;
}
p.short_description {
	margin: 0;
	padding: 5px 20px 5px 20px;
	width: 90%;
}
.neighborhood, .city {
	font-size: 1.5em;
}
.city {
	font-weight: bold;
}
.garden_info {
	font-weight: normal;
	padding: 10px;
	text-align: left;
	max-width: 90%;
}

@media only screen and (min-width : 330px) {
		.garden_info {
			margin-left: 30%;
			margin-right: 30%;
		}
		p.short_description {
			margin-left: 0;
			display: inline-block;
		}